.classroom-card {
    border: 1px solid var(--strong-yellow);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--pastel-red);
}

.available {
    background-color: var(--pastel-green);
}

.classroom-card :first-child { /* Building name */
    padding: 10px 5px;
    text-align: center;
}

.classroom-card :last-child { /* Building availability text */
    padding: 5px 5px;
    text-align: center;
}

.classroom-card :last-child span { /* Building availability number */
    padding: 0;
    font-weight: 700;
}
