:root {
  --light-gray: #dadce0;
  --dark-gray: #494951;
  --yellow: #fff353;
  --strong-yellow: #f6c551; 
  --pastel-red: #ff6961; /* lvl 0 */
  --pastel-orange: #ff9688; /* lvl 1 */
  --pastel-yellow: #f5fac1; /* lvl 2 */
  --pastel-green: #ceffc9; /* lvl 3 */
} 

* {

  /* Reset box model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Default font settings */
  font-family: sans-serif;
  color: var(--dark-gray);
}

main {
  margin: 20px 30px;
}

.select-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select-time #select-day {
  appearance: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: var(--light-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.select-time #select-hour {
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding-left: 5px; /* agregué este padding */
}

.select-time #btn-update-time {
  padding: 7px 7px;
  background-color: transparent;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.cards-container {
  margin: 20px auto;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avoid-underline {
  text-decoration: none;  
}